body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    background-color: #333;
    color: whitesmoke;
}

input,
button {
    font: inherit;
    width: max-content;
}

#uploadForm {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: rgba(255, 255, 255, 0.048);
    padding: 16px;
    border-radius: 15px;
}


.upload-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}