@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    font-family: Raleway;
}


.sticky {
    display: flex;
    background-color: #333;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
}

.logout-btn {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #535151;
}

.brand-title {
    font-size: 2.5rem;
    padding: 20px 20px 20px 26px;
    font-weight: 900;
}

.brand-title a {
    text-decoration: none;
    color: white;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 2rem;
    display: block;
    font-size: 1.2rem;
}

.navbar-links li a:hover {
    color: #dfdfdfa0;
}


.toggle-button {
    display: none;
    position: absolute;
    top: 0.75em;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}



@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        width: 100%;
        display: none;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;

    }

    .navbar-links li {
        text-align: center;
        /* top and bottom are .5rem and right and left are 1 rem */
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}